:root {
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --pretitle-color: #212121;
  --text-color: #757575;
  --backround-color1: #2f303a;
  --backround-color2: #f5f4fa;
  --border-color: #eeeeee;
  --border-color2: #ececec;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  color: var(--pretitle-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 3%;
}

.logo > span,
.footer-logo > span {
  color: var(--accent-color);
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: var(--pretitle-color);
  margin: 0 auto;
  margin-bottom: 50px;
}

.nav-item,
.contact-item,
.nav-item-port {
  margin-right: 50px;
}

.nav-link {
  color: var(--pretitle-color);
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link {
  color: var(--text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.nav-link:hover {
  color: var(--accent-color);
}

.contact-link,
.nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2%;
}

.nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  border-radius: 2px;
  left: 0;
  top: 44px;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-item:nth-child(1) .nav-link,
.nav-item-port:nth-child(2) .nav-link {
  color: var(--accent-color);
}

.nav-item:nth-child(1) .nav-link::after,
.nav-item-port:nth-child(2) .nav-link::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header {
  border-bottom: 1px solid var(--border-color2);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 344px;
}

.contact-item:last-child {
  margin-right: 0;
}

.nav-item:last-child,
.nav-item-port:last-child {
  margin-right: 0;
}

.contact-svg {
  fill: var(--text-color);
  width: 10px;
  height: 16px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .contact-svg {
  fill: var(--accent-color);
}

.contact-svg1 {
  width: 16px;
  height: 12px;
}

.contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-item:nth-child(2) {
  width: 142px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
  margin: 0 auto;
  width: 696px;
}

.solution,
.footer {
  background-color: var(--backround-color1);
}

.solution-btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 6%;
  text-align: center;
  color: var(--title-color);
  background-color: var(--accent-color);
  width: 216px;
  padding: 10px 32px;
  border: none;
  border-radius: 5px;
}

.solution {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img-bac.jpg);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-bac.jpg);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.close-svg {
  width: 11px;
  height: 11px;
  fill: #000000;
  display: block;
}

.close-btn {
  padding: 9px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  background: none;
  position: absolute;
  top: 8px;
  right: 8px;
}

.close-btn:hover .close-svg {
  fill: var(--accent-color);
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  color: var(--pretitle-color);
  margin-bottom: 12px;
}

.modal-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: var(--text-color);
  line-height: 100%;
  letter-spacing: 1%;
  display: block;
  position: relative;
}

.label-svg {
  width: 12px;
  height: 12px;
  fill: var(--pretitle-color);
  display: block;
  position: absolute;
  z-index: 5;
  top: 32px;
  left: 15px;
}

.modal-label:nth-child(3) .label-svg {
  width: 15px;
  height: 12px;
  left: 13.5px;
}

.modal-input {
  display: block;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 42px;
}

.modal-input:hover,
.modal-area:hover,
.modal-input:focus,
.modal-area:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-area {
  padding: 12px;
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5019607843);
  line-height: 100%;
  letter-spacing: 1%;
}

.modal-check {
  margin-left: 12px;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  margin-bottom: 30px;
}

.check-label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
  line-height: 24px;
  letter-spacing: 3%;
}

.check-link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  text-decoration: underline;
  text-decoration-style: solid;
  color: var(--accent-color);
  text-decoration-thickness: 0%;
}

.modal-submit {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  vertical-align: middle;
  color: var(--title-color);
  background-color: var(--accent-color);
  padding: 10px 52px;
  margin-left: 124px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border: none;
}

.modal-label:hover .label-svg,
.modal-input:focus + .label-svg {
  fill: var(--accent-color);
}

.types-btn {
  background-color: var(--backround-color2);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--pretitle-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.types-btn:hover,
.types-btn:focus {
  background-color: var(--accent-color);
  color: var(--title-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.types-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  width: 575px;
  margin: 0 auto;
}

.types {
  margin: 0 auto;
  margin-top: 94px;
  margin-bottom: 50px;
}

.priorities {
  margin: 0 auto;
  margin-top: 94px;
}

.priorities-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: var(--pretitle-color);
  margin-bottom: 10px;
  margin-right: 30px;
}

.priorities-text {
  margin-right: 30px;
}

.priorities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.priorities-item {
  margin-right: 30px;
  width: 270px;
}

.priorities-item:last-child {
  margin-right: 0;
}

.priorities-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--backround-color2);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-bottom: 30px;
}

.priorities-item:nth-child(1):before {
  background-image: url(../images/antenna.png);
}

.priorities-item:nth-child(2):before {
  background-image: url(../images/clock.png);
}

.priorities-item:nth-child(3):before {
  background-image: url(../images/diagram.png);
}

.priorities-item:nth-child(4):before {
  background-image: url(../images/astronaut.png);
}

.aspects-item {
  position: relative;
  margin-bottom: 94px;
  height: 294px;
}

.aspects {
  padding-top: 94px;
}

.aspects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aspects-title {
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0px;
  width: 100%;
  bottom: 0;
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  color: var(--pretitle-color);
}

.team-profession {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
}

.team {
  background-color: var(--backround-color2);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-item {
  background-color: var(--title-color);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-item {
  width: 270px;
}

.team-img {
  width: 270px;
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-profession {
  margin-bottom: 16px;
}

.team-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  margin-left: 32px;
}

.team-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-media {
  display: block;
  line-height: 0%;
  padding: 12px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-media:focus,
.team-media:hover {
  background-color: #2196f3;
}

.team-media:focus .team-svg,
.team-media:hover .team-svg {
  fill: #ffffff;
}

.media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.media-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.media-link {
  display: block;
  line-height: 0%;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:focus,
.media-link:hover {
  background-color: #2196f3;
}

.media {
  margin-left: 70px;
  margin-right: 93px;
}

.clients-svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  display: block;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:focus,
.clients-link:hover {
  border: 1px solid var(--accent-color);
}

.clients-link:focus .clients-svg,
.clients-link:hover .clients-svg {
  fill: #2196f3;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works-item {
  background-color: var(--title-color);
  border: 1px solid var(--border-color);
  position: relative;
  overflow: hidden;
}

.works-item:hover {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.works-names {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  color: var(--pretitle-color);
}

.works-types {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.87;
}

.works {
  margin-bottom: 94px;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.works-item {
  width: calc((100% - 60px) / 3);
}

.works-names {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}

.works-types {
  margin-bottom: 20px;
  margin-left: 24px;
}

.works-text {
  background-color: rgba(33, 150, 243, 0.8980392157);
  width: 370px;
  height: 294px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 3%;
  color: var(--title-color);
  padding: 63px 24px;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-item:hover .works-text,
.works-item:focus .works-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer-link {
  color: var(--text-color);
}

.footer-link > span {
  color: var(--title-color);
}

.footer-logo {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 3%;
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer {
  padding: 60px 0;
}

.footer-list {
  margin-top: 20px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-title {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-list {
  width: 231px;
}

.mailing-input {
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 295px 15px 16px;
  border-radius: 4px;
}

.mailing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.mailing-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
}

.mailing-svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}