:root {
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --pretitle-color: #212121;
  --text-color: #757575;
  --backround-color1: #2f303a;
  --backround-color2: #f5f4fa;
  --border-color: #eeeeee;
  --border-color2: #ececec;
}