.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: var(--pretitle-color);
  margin: 0 auto;
  margin-bottom: 50px;
}