.types-btn {
  background-color: var(--backround-color2);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--pretitle-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.types-btn:hover,
.types-btn:focus {
  background-color: var(--accent-color);
  color: var(--title-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.types-list {
  display: flex;
  gap: 8px;
  width: 575px;
  margin: 0 auto;
}
.types {
  margin: 0 auto;
  margin-top: 94px;
  margin-bottom: 50px;
}